<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>LoginAlumno.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description>LoginAdministrador</description>
        <servlet-name>LoginAdministrador</servlet-name>
        <servlet-class>Login.LoginAdministrador</servlet-class>
    </servlet>
    <servlet>
        <description>MenuAdministrador</description>
        <servlet-name>MenuAdministrador</servlet-name>
        <servlet-class>Menu.MenuAdministrador</servlet-class>
    </servlet>
    <servlet>
        <description>Carrera</description>
        <servlet-name>Carrera</servlet-name>
        <servlet-class>Administrador.Carrera</servlet-class>
    </servlet>
    <servlet>
        <description>LoginAdministradorJSP</description>
        <servlet-name>LoginAdministradorJSP</servlet-name>
        <jsp-file>/LoginAdministrador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CarreraMateriaPost</servlet-name>
        <servlet-class>Administrador.CarreraMateriaPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Moderador</servlet-name>
        <servlet-class>Administrador.Moderador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeradorAM</servlet-name>
        <servlet-class>Administrador.ModeradorAM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Docente</servlet-name>
        <servlet-class>Administrador.Docente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocenteAM</servlet-name>
        <servlet-class>Administrador.DocenteAM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Materia</servlet-name>
        <servlet-class>Administrador.Materia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaRegular</servlet-name>
        <servlet-class>Administrador.MateriaRegular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaAprobada</servlet-name>
        <servlet-class>Administrador.MateriaAprobada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaAM</servlet-name>
        <servlet-class>Administrador.MateriaAM</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdministrador</servlet-name>
        <url-pattern>/LoginAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuAdministrador</servlet-name>
        <url-pattern>/MenuAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrera</servlet-name>
        <url-pattern>/Carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdministradorJSP</servlet-name>
        <url-pattern>/LoginAdministrador.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraMateriaPost</servlet-name>
        <url-pattern>/CarreraMateriaPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Moderador</servlet-name>
        <url-pattern>/Moderador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeradorAM</servlet-name>
        <url-pattern>/ModeradorAM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Docente</servlet-name>
        <url-pattern>/Docente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocenteAM</servlet-name>
        <url-pattern>/DocenteAM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Materia</servlet-name>
        <url-pattern>/Materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaRegular</servlet-name>
        <url-pattern>/MateriaRegular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaAprobada</servlet-name>
        <url-pattern>/MateriaAprobada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaAM</servlet-name>
        <url-pattern>/MateriaAM</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
